<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152127980653-08dlr1r0c8ipsse5eltvj9aj9d5s46qt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152127980653-08dlr1r0c8ipsse5eltvj9aj9d5s46qt</string>
	<key>API_KEY</key>
	<string>AIzaSyDtAsBL21Ik6Iljxmj42Mj9kOvpyEob8wg</string>
	<key>GCM_SENDER_ID</key>
	<string>152127980653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voitenko.usefultraining</string>
	<key>PROJECT_ID</key>
	<string>usefultraining-e8811</string>
	<key>STORAGE_BUCKET</key>
	<string>usefultraining-e8811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152127980653:ios:f84be094c8907e04df2b64</string>
</dict>
</plist>